{% extends "base.html" %}

{% block title %}{{obj.title}}{% endblock %}
{% block body %}
    <div class="well col-sm-6 col-sm-offset-3">
        <h1>{{obj.title}}</h1>
        <form class="form-horizontal">
            {% for field in obj.formfields_set.all %}
                <div class="form-group">
                    <label for="form-field-{{field.field_name}}" class="col-sm-2 control-label">
                        {% firstof field.field_label field.field_name|capfirst  %}
                    </label>
                    <div class="col-sm-10">
                        {% if field.field_type == 'bool' %}
                            <input type="checkbox" name="{{field.field_name}}"
                                   id="form-field-{{field.field_name}}"
                                   {% if read_only %}disabled="disabled"{% endif %} />
                        {% else %}
                            <input type="text" name="{{field.field_name}}"
                                   id="form-field-{{field.field_name}}"
                                   class="form-control"
                                   {% if read_only %}disabled="disabled"{% endif %} />
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary"
                     {% if read_only %}disabled="disabled"{% endif %}>
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
